.interactions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.interactions i {
  font-size: 1.25rem;
  color: var(--primary-color);
  user-select: none;
  position: relative;
}

.notified::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green::after {
  background-color: green;
}

.red::after {
  background-color: red;
}

.modeIcon i {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-color);
}
